{% extends 'user/base.html' %}
{% block title %}
    <title>Мои завершеные задания</title>
{% endblock %}
{% block breadcumb %}
    <ol class="breadcrumb">
        <li><a href="/home">Главная</a></li>
        <li><a href="/user">Пользователь {{ user }}</a></li>
        <li><a href="/user/tasks">Задания</a></li>
        <li class="active">Все задания</li>
    </ol>
{% endblock %}
{% block profile_menu_content %}
    {% for task in all_tasks %}
        <p><b>{{ task.title }}:</b><br>
            {{ task.description|safe }}<br></p>
    {% endfor %}
{% endblock %}




