{% extends 'user/base.html' %}
{% block title %}
    <title>Задания</title>
{% endblock %}
{% block breadcumb %}
    <ol class="breadcrumb">
        <li><a href="/home">Главная</a></li>
        <li><a href="/user">Пользователь {{ user }}</a></li>
        <li class="active">Задания</li>
    </ol>
{% endblock %}
{% block user_tasks %}
    <li class="active"><a href="/user/tasks/"><i
            class="glyphicon glyphicon-ok"></i>Задания </a></li>
{% endblock %}
{% block profile_menu_content %}
    <a href="/user/tasks/all">Посмотреть все задания</a><br>
    <a href="/user/tasks/my">Посмотреть мои задания</a><br>
    <a href="/user/tasks/completed">Посмотреть выполненные задания</a><br>
{% endblock %}
