{% extends 'user/base.html' %}
{% block title %}
    <title>Задания</title>
{% endblock %}
{% block breadcumb %}
    <ol class="breadcrumb">
        <li><a href="/home">Главная</a></li>
        <li><a href="/user">Пользователь {{ user }}</a></li>
        <li><a href="/user/tasks">Задания</a></li>
        <li class="active">Прислать ответ на задание</li>
    </ol>
{% endblock %}
{% block user_tasks %}
    <li class="active"><a href="/user/tasks/"><i
            class="glyphicon glyphicon-ok"></i>Задания </a></li>
{% endblock %}
{% block profile_menu_content %}
    Задание: {{ task.title }}<br>
    Описание: {{ task.description|safe }}<br>
    answer.answer_file {{ answer.answer_file }}<br>
    {% if answer.answer_file %}
        Вы уже отправили ответ на это задание
    {% else %}
        Вы ещё не отправили ответ на задание
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Отправить ответ"/>
    </form>
{% endblock %}
