{% extends 'user/base.html' %}
{% block title %}
    <title>{{ task.title }}</title>
{% endblock %}
{% block load_static %}
    {{ block.super }}
    {% load static %}
    <script src="{% static 'js/tasks.js' %}"></script>
{% endblock %}
{% block breadcumb %}
    <ol class="breadcrumb">
        <li><a href="/home">Главная</a></li>
        <li><a href="/user">Пользователь {{ user }}</a></li>
        <li><a href="/user/tasks">Задания</a></li>
        <li class="active">Прислать ответ на задание</li>
    </ol>
{% endblock %}
{% block user_tasks %}
    <li class="active"><a href="/user/tasks/"><i
            class="glyphicon glyphicon-ok"></i>Задания </a></li>
{% endblock %}
{% block profile_menu_content %}
    <b>Задание:</b> {{ task.title }}<br>
    <b>Описание:</b> {{ task.description|safe }}<br><br>
    {% if answer.answer_file %}
        Вы уже отправили ответ на это задание:
        <a href="{{ answer.answer_file.url }}"><u>ответ</u></a><br>
        Ваша оценка:
        {% if answer.mark == None %}
            Не оценено
        {% else %}
            {{ answer.mark }}/100
        {% endif %}
    {% else %}
        Вы ещё не отправили ответ на задание
    {% endif %}
    <br><br>
    {% if answer.mark == None %}
        {% if answer.answer_file %}
            <a id="send_another_file">Хочу отправить другой ответ на задание</a>
            <br>
        {% endif %}
        <div id="send_task_form" style="display:{% if answer.answer_file %}none">{% else %}block">{% endif %}
             <form action="" method="post" enctype="multipart/form-data">
                 {% csrf_token %}
                 <label for="id_answer_file">Файл с ответом на задание:</label>
                 <input id="id_answer_file" name="answer_file" type="file"><br>
                 {{ form.next }}
                 <input type="submit" class="btn btn-success" value="Отправить"/>
             </form>
        </div>
    {% endif %}

    {% if messages %}
        <div id="messages" style="text-decoration-line: none">
            {% for msg in messages %}
                    <div class="alert alert-{{ msg.level_tag }}" role="alert">
                        {{ msg.message }}
                    </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
