<div class="profile-userpic">
    <img src="{{ user_profile.avatar.url }}" class="img-responsive" alt="">
</div>

<div class="profile-usertitle">
    <div class="profile-usertitle-name">
        {{ user }}
    </div>
    <div class="profile-usertitle-job">
        Участник курса
    </div>
</div>

<div class="profile-usermenu">
    <ul class="nav">
        {% block user_profile %}
            <li><a href="/user/profile"><i class="glyphicon glyphicon-user"></i>Профиль </a></li>
        {% endblock %}
        {% block user_settings %}
            <li><a href="/user/settings"><i class="glyphicon glyphicon-wrench"></i>Настройки </a></li>
        {% endblock %}
        {% block user_tasks %}
            <li><a href="/user/tasks/"><i class="glyphicon glyphicon-ok"></i>Задания </a></li>
        {% endblock %}
        {% block user_achievments %}
            <li><a href="/user/achievments/"><i class="glyphicon glyphicon-star-empty"></i>Достижения </a></li>
        {% endblock %}
        <li><a href="/logout"><i class="glyphicon glyphicon-off"></i>Выйти </a></li>
    </ul>
</div>