{% extends 'base/base.html' %}
{% block head %}
    {% block title %}
        <title>Страница пользователя {{ user }}</title>
    {% endblock %}
    {% block load_static %}
        {{ block.super }}
    {% endblock %}
{% endblock %}
{% block body %}
    {% block menu %}
        {{ block.super }}
    {% endblock %}
    {% block content %}
        <div class="container" style="margin-top: 51px;">
            <b>ФИО:</b> {{ user_profile.name }}<br>
            <b>Группа:</b> {{ user_profile.group }} <br>
            <b>Аватар:</b> <img src="{{ user_profile.avatar.url }}" width="200px" height="200px"><br>
            <b>Подгруппа на курсе:</b>
            {% if user_profile.sub_group == 1 %}
                1 (практика по понедельникам)
            {% elif user_profile.sub_group == 2 %}
                2 (практика по пятницам)
            {% elif user_profile.sub_group == 0 %}
                определяется...
            {% elif user_profile.sub_group == 3 %}
                Готов приходить и по понедельникам, и по пятницам
            {% endif %}
            <br>
            <b>Email:</b> <br>
            <b>Дата регистрации:</b>{{ user_profile.date_joined }} <br>
            <b>Немного о себе:</b> {{ user_profile.about }}
        </div>
    {% endblock %}
    {% block footer %}
        {{ block.super }}
    {% endblock %}
{% endblock %}
