{% extends 'user/base.html' %}
{% block title %}
    <title>Профиль</title>
{% endblock %}
{% block breadcumb %}
    <ol class="breadcrumb">
        <li><a href="/home">Главная</a></li>
        <li class="active">Пользователь {{ user }}</li>
    </ol>
{% endblock %}
{% block user_profile %}
    <li class="active"><a href="/user/profile"><i class="glyphicon glyphicon-user"></i>Профиль </a></li>
{% endblock %}
{% block profile_menu_content %}
    <div class="container" style="margin-top: 51px;">
        <b>ФИО:</b> {{ user_profile.name }}<br>
        <b>Группа:</b> {{ user_profile.group }} <br>
        <b>Подгруппа на курсе:</b>
        {% if user_profile.sub_group == 1 %}
            1 (практика по понедельникам)
        {% elif user_profile.sub_group == 2 %}
            2 (практика по пятницам)
        {% elif user_profile.sub_group == 0 %}
            определяется...
        {% elif user_profile.sub_group == 3 %}
            Готов приходить и по понедельникам, и по пятницам
        {% endif %}
        <br>
        <b>Email:</b>{{ user_profile.email }} <br>
        <b>Дата регистрации:</b>{{ user_profile.date_joined }} <br>
        <b>Немного о себе:</b> {{ user_profile.about }}
    </div>
{% endblock %}