{% extends 'user/base.html' %}
{% block title %}
    <title>Пользовательские настройки</title>
{% endblock %}
{% block breadcumb %}
    <ol class="breadcrumb">
        <li><a href="/home">Главная</a></li>
        <li><a href="/user/profile">Пользователь {{ user }}</a></li>
        <li class="active">Настройки</li>
    </ol>
{% endblock %}
{% block user_settings %}
    <li class="active"><a href="/user/settings"><i
            class="glyphicon glyphicon-wrench"></i>Настройки </a></li>
{% endblock %}
{% block profile_menu_content %}
    Тут настроечки будут. Пароль поменять, аватарку и т.д.
{% endblock %}