<div class="panel-group" id="accordion">
    {% for lecture in lectures %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#collapse_{{ forloop.counter }}">
                        {{ lecture.topic }}
                    </a>
                </h4>
            </div>
            <div id="collapse_{{ forloop.counter }}"
                 class="panel-collapse collapse">
                <div class="panel-body">
                    {{ lecture.about|safe }}
                    {% if user.is_authenticated and forloop.counter == 3 %}
                        <br>
                        <a href="/lectures/lesson/{{ forloop.counter }}">Текст лекции</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>