{% extends 'base/base.html' %}
{% block head %}
    {% block title %}
        <title>Домашняя страница</title>
    {% endblock %}
    {% block load_static %}
        {{ block.super }}
    {% endblock %}
{% endblock %}
{% block body %}
    {% block menu %}
        {{ block.super }}
    {% endblock %}
    {% block content %}
        <div class="container">
            <div class="row" style="margin-top:50px">
                <div class="col-lg-5">
                    {% include 'about/about.html' %}
                    <p><a class="btn btn-primary" href="/about" role="button">View
                        details»</a></p>
                </div>
                <div class="col-lg-4">
                    {% include 'news/news.html' %}
                    <p><a class="btn btn-primary" href="/news" role="button">View details»</a></p>
                </div>
                <div class="col-lg-3">
                    <h2>Структура курса</h2>
                    <p>
                        14 лекций<br>
                        7 практик<br>
                        8 проектов<br>
                    </p>
                    <p><a class="btn btn-primary" href="#" role="button">View
                        details»</a></p>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block footer %}
        {{ block.super }}
    {% endblock %}
{% endblock %}
