{% extends 'base/base.html' %}
{% block head %}
    {% block title %}
        <title>Новости</title>
    {% endblock %}
    {% block load_static %}
        {{ block.super }}
    {% endblock %}
{% endblock %}
{% block body %}
    {% block menu %}
        {{ block.super }}
    {% endblock %}
    {% block content %}
        <div class="container" style="margin-top:50px">
            <div class="row">
                <div class="col-lg-12">
                    <br>
                    <ol class="breadcrumb">
                        <li><a href="/home">Главная</a></li>
                        <li class="active">Новости</li>
                    </ol>
                    {% include 'news/news.html' %}
                </div>
            </div>
        </div>
    {% endblock %}
    {% block paginator %}
        <div>
            <ul class="pagination">
                {% if news.has_previous %}
                    <li><a href="/news/{{ news.previous_page_number }}/">«</a></li>
                {% else %}
                    <li class="disabled"><span>«</span></li>
                {% endif %}

                {% for page in news.paginator.page_range %}
                    {% if page == news.number %}
                        <li class="active"><a href="/news/{{ page }}/">{{ page }}</a></li>
                    {% else %}
                        <li><a href="/news/{{ page }}/">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if news.has_next %}
                    <li><a href="/news/{{ news.next_page_number }}/">»</a></li>
                {% else %}
                    <li class="disabled"><span>»</span></li>
                {% endif %}
            </ul>
        </div>
    {% endblock %}
    {% block footer %}
        {{ block.super }}
    {% endblock %}
{% endblock %}
