{% extends 'base/base.html' %}
{% block head %}
    {% block title %}
        <title>Новости</title>
    {% endblock %}
    {% block load_static %}
        {{ block.super }}
    {% endblock %}
{% endblock %}
{% block body %}
    {% block menu %}
        {{ block.super }}
    {% endblock %}
    {% block content %}
        <div class="container" style="margin-top:50px">
            <div class="row">
                <div class="col-lg-12">
                    <br>
                    <ol class="breadcrumb">
                        <li><a href="/home">Главная</a></li>
                        <li class="active">Новости</li>
                    </ol>
                    {% include 'news/news.html' %}
                </div>
            </div>
        </div>
    {% endblock %}
    {% block footer %}
        {{ block.super }}
    {% endblock %}
{% endblock %}
