<!DOCTYPE html lang="en">
{% block head %}
    <head>
        <meta charset="utf-8">
        {% block title %}{% endblock %}

        {% block load_static %}
            {% include 'base/statics.html' %}
        {% endblock %}
    </head>
{% endblock %}

{% block body %}
    <body>
    {% block menu %}
        {% include 'base/menu.html' %}
    {% endblock %}
    {% block content %}{% endblock %}
    {% block paginator %}{% endblock %}
    {% block footer %}
        {% include 'base/footer.html' %}
    {% endblock %}
    </body>
{% endblock %}
</html>